*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

input{
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 1.5rem;
    
}

input:focus{
    outline: none;
}
.weather{
    text-align: center;
}
.weather h2{
    margin-bottom: 0;
    display: flex;
    align-items: center;
  padding: 1rem;
}
.weather small{
    font-size:  1rem;
    font-weight: bold;
}

